.thumb-item.border-accent {
    border-width: 2px;
}

.product-description[data-component='read-more'].is-expanded {
    display: block;
    -webkit-line-clamp: unset;
}

@media (max-width: 1023px) {
    body:has(.mobile-add-to-cart-bar) main {
        padding-bottom: 5rem;
    }
}
